* {
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #272727;
}

#buttons {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 15%;
	padding: 2rem;
	justify-content: space-around;
}

button {
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}

button:hover {
	cursor: pointer;
}

#resolution {
	text-align: center;
}

#success,
#failure {
	visibility: hidden;
}

#success {
	color: green;
	margin-top: 2rem;
}

#failure {
	color: red;
}

#moves {
	color: white;
}

#puzzle {
	display: table;
	height: 80%;
	border-collapse: collapse;
	margin-top: 2rem;
}

.row {
	display: table-row;
}

.piece1,
.piece2,
.piece3,
.piece4,
.piece5,
.piece6,
.piece7,
.piece8,
.piece9,
.piece10,
.piece11,
.piece12,
.piece13,
.piece14,
.piece15,
.piece16 {
	display: table-cell;
	width: 124px;
	height: 124px;
	border: 1px solid yellow;
	background: url(../assets/monks.jpg);
	cursor: pointer;
}

.piece1 {
	background-position: 500px 0px;
}

.piece2 {
	background-position: 375px 0px;
}

.piece3 {
	background-position: 250px 0px;
}

.piece4 {
	background-position: 125px 0px;
}

.piece5 {
	background-position: 0px 375px;
}

.piece6 {
	background-position: 375px 375px;
}

.piece7 {
	background-position: 250px 375px;
}

.piece8 {
	background-position: 125px 375px;
}

.piece9 {
	background-position: 500px 250px;
}

.piece10 {
	background-position: 375px 250px;
}

.piece11 {
	background-position: 250px 250px;
}

.piece12 {
	background-position: 125px 250px;
}

.piece13 {
	background-position: 500px 125px;
}

.piece14 {
	background-position: 375px 125px;
}

.piece15 {
	background-position: 250px 125px;
}

.piece16 {
	background: white;
	cursor: default;
}
